<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <title>Document</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">API Wars</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav" style="width: 100%;">
          <li class="nav-item">
            <a class="nav-link" href="#">Planet List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Voting stats</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Register</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
          </li>
            <li class="nav-item ml-auto">
            <a class="nav-link disabled" href="#">Logged in as Guest</a>
          </li>
        </ul>
      </div>
    </nav>

    {% block content %}{% endblock %}

    <div class="container">
        <h1 class="display-1 p-4">API Wars Project</h1>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col0">#</th>
                <th scope="col1">Name</th>
                <th scope="col2">Diameter</th>
                <th scope="col3">Climate</th>
                <th scope="col4">Terrain</th>
                <th scope="col5">Surface Water</th>
                <th scope="col6">Population</th>
                <th scope="col7">Residents</th>
            </tr>
            </thead>
            <tbody data-js="tbody-main">
            </tbody>
        </table>
        <div class="mx-auto" style="width: 200px;" data-js="button-container">
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document" style="max-width: 700px;">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Residents</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col0">Name</th>
                    <th scope="col1">Height</th>
                    <th scope="col2">Mass</th>
                    <th scope="col3">Hair Color</th>
                    <th scope="col4">Skin color</th>
                    <th scope="col5">Eye color</th>
                    <th scope="col6">Birth year</th>
                    <th scope="col7">Gender</th>
                </tr>
                </thead>
                <tbody data-js="tbody-modal">
                </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>